In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
df=pd.read_csv("71 Centuries of Virat Kohli.csv")
print(df.shape)
df.head(5)

(71, 15)

,Score,Out/Not Out,Against,Batting Order,Inn.,Strike Rate,Venue,Column1,H/A,Date,Result,Format,Man of the Match,Captain,Unnamed: 14
0,116,Out,Australia,6,2,NaN,Adelaide Oval,Adelaide,Away,24-01-2012,Lost,Test,No,No,NaN
1,103,Out,New Zealand,5,2,NaN,M. Chinnaswamy Stadium,Bangalore,Home,31-08-2012,Won,Test,Yes,No,NaN
2,103,Out,England,5,2,NaN,Vidarbha Cricket Association Stadium,Nagpur,Home,13-12-2012,Drawn,Test,No,No,NaN
3,107,Out,Australia,5,2,NaN,M. A. Chidambaram Stadium,Chennai,Home,22-02-2013,Won,Test,No,No,NaN
4,119,Out,South Africa,4,1,NaN,Wanderers Stadium,Johannesburg,Away,18-12-2013,Drawn,Test,No,No,NaN

In [3]:
df.isna().sum()

Score                0
Out/Not Out          0
Against              0
Batting Order        0
Inn.                 0
Strike Rate         27
Venue                0
Column1              0
H/A                  0
Date                 0
Result               0
Format               0
Man of the Match     0
Captain              0
Unnamed: 14         71
dtype: int64

In [4]:
df.drop("Unnamed: 14",axis=1,inplace=True)

In [5]:
print(df.shape)
df.sample(5)

(71, 14)

,Score,Out/Not Out,Against,Batting Order,Inn.,Strike Rate,Venue,Column1,H/A,Date,Result,Format,Man of the Match,Captain
29,118,Out,Australia,3,2,97.52,APCA-VDCA Stadium,Visakhapatnam,Home,20-10-2010,Won,ODI,Yes,No
48,107,Out,Pakistan,3,1,84.90,Adelaide Oval,Adelaide,Away,15-02-2015,Won,ODI,Yes,No
51,106,Out,Australia,3,2,115.21,Manuka Oval,Canberra,Away,20-01-2016,Lost,ODI,No,No
53,122,Out,England,3,2,116.19,Maharashtra Cricket Association Stadium,Pune,Home,15-01-2017,Won,ODI,No,Yes
15,204,Out,Bangladesh,4,1,NaN,Rajiv Gandhi International Cricket Stadium,Hyderabad,Home,09-02-2017,Won,Test,Yes,Yes

In [6]:
avgstr=df["Strike Rate"].mean()
df["Strike Rate"].fillna(avgstr,inplace=True)

In [7]:
df.isnull().sum()

Score               0
Out/Not Out         0
Against             0
Batting Order       0
Inn.                0
Strike Rate         0
Venue               0
Column1             0
H/A                 0
Date                0
Result              0
Format              0
Man of the Match    0
Captain             0
dtype: int64

In [8]:
df.rename(columns={"Column1": "City"},inplace=True)

In [9]:
df.head()

,Score,Out/Not Out,Against,Batting Order,Inn.,Strike Rate,Venue,City,H/A,Date,Result,Format,Man of the Match,Captain
0,116,Out,Australia,6,2,114.019545,Adelaide Oval,Adelaide,Away,24-01-2012,Lost,Test,No,No
1,103,Out,New Zealand,5,2,114.019545,M. Chinnaswamy Stadium,Bangalore,Home,31-08-2012,Won,Test,Yes,No
2,103,Out,England,5,2,114.019545,Vidarbha Cricket Association Stadium,Nagpur,Home,13-12-2012,Drawn,Test,No,No
3,107,Out,Australia,5,2,114.019545,M. A. Chidambaram Stadium,Chennai,Home,22-02-2013,Won,Test,No,No
4,119,Out,South Africa,4,1,114.019545,Wanderers Stadium,Johannesburg,Away,18-12-2013,Drawn,Test,No,No

In [10]:
df.dtypes

Score                 int64
Out/Not Out          object
Against              object
Batting Order         int64
Inn.                  int64
Strike Rate         float64
Venue                object
City                 object
H/A                  object
Date                 object
Result               object
Format               object
Man of the Match     object
Captain              object
dtype: object

In [11]:
df.describe()

            Score  Batting Order       Inn.  Strike Rate
count   71.000000      71.000000  71.000000    71.000000
mean   132.140845       3.521127   1.732394   114.019545
std     35.911119       0.714326   0.675230    19.795967
min    100.000000       1.000000   1.000000    84.900000
25%    107.000000       3.000000   1.000000   103.720000
50%    119.000000       3.000000   2.000000   114.019545
75%    139.500000       4.000000   2.000000   114.149773
max    254.000000       6.000000   4.000000   200.000000

In [12]:
df["Against"].value_counts()

Against
Australia       15
Sri Lanka       13
West Indies     11
New Zealand      8
England          8
South Africa     7
Bangladesh       5
Pakistan         2
Zimbabwe         1
Afganistan       1
Name: count, dtype: int64

In [13]:
print("The total runs scored by Virat Kohli is",df["Score"].sum())
print("The average runs scored by Virat Kohli per match is ",round(df["Score"].sum()/len(df["Score"]),2))

The total runs scored by Virat Kohli is 9382
The average runs scored by Virat Kohli per match is  132.14

In [14]:
df["Out/Not Out"].value_counts()

Out/Not Out
Out        51
Not Out    20
Name: count, dtype: int64

In [28]:
plt.plot(kind="bar",df["Out/Not Out"],df.groupby(by=["Out/Not Out"]))

SyntaxError: positional argument follows keyword argument (1108969230.py, line 1)

In [ ]:
df.corr(numeric_only=True)

In [ ]:
sns.barplot(data=df,x="Score",y="Strike Rate")

In [ ]:
df[df['Format']!='Test'][['Score','Strike Rate']].describe()

In [ ]:
df[df['Format']=='Test']['Score'].describe()

In [ ]:
px.pie(values = df.Format.value_counts().values,names=df.Format.value_counts().index,title="Centuries of Virat Kohli")

In [ ]:
df['Format_century_no'] = df.groupby(['Format'])['Date'].rank(method='max').astype(int)

In [ ]:
df[df.Format_century_no ==1].iloc[:,0:-1]

In [ ]:
df[(df.Format_century_no ==43)|(df.Format_century_no ==27)|
   (df.Format_century_no ==1)].iloc[:,:-1].sort_values(by='Date').tail(3)

In [ ]:
Tonvs = df.groupby(['Against','Format','Result'])['Score'].count().reset_index().rename(columns ={'Score':'Number_of_Centuries'})
px.bar(data_frame=Tonvs,x='Against',y='Number_of_Centuries',color ='Format',text_auto=True,pattern_shape='Result')

In [ ]:
df['Date'] =  pd.to_datetime(df['Date'], format='%d-%m-%Y')
df = df.sort_values(by=['Date'])
l = []
for i in range(1,72):
    l.append(i)
df['Int_Century_count'] = l
fig = px.line(data_frame=df,x='Date',y='Int_Century_count',markers=True,title="Virat's International Hundreds")
fig.update_layout(title_x=0.5)
fig.show()

In [ ]:
H_a = df.groupby(['Against','H/A'])['Score'].count().reset_index().rename(columns={'Score':'Centuries'})
fig = px.bar(data_frame=H_a,x='Against',y='Centuries',color='H/A',text_auto=True)
fig.update_layout(title = "Virat's Centuries at Home and Away from Home", title_x=0.5)
fig.show()